/* Start Loading */

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: white;
    z-index: 9999;
}

#loading ul {
    list-style-type: none;
    padding-left: 0;
}

#loadingAlign {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#loadingSpinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #f77;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top: 16px solid #f77;
    }
    33% {
        transform: rotate(360deg);
        border-top: 16px solid #7f7;
    }
    66% {
        transform: rotate(720deg);
        border-top: 16px solid #77f;
    }
    100% {
        transform: rotate(1080deg);
        border-top: 16px solid #f77;
    }
}

/* End Loading */
/* Start Header */

#header .btn {
    border: 2px solid grey;
}

/* End Header */
/* Start Graphs */

#tableRow {
    padding: 0;
}

#tableRow tr:nth-child(even) {
    background-color: #eee;
}

#tableRow tr:nth-child(even) tr:nth-child(even) {
    background-color: #ddd;
}

#graphs>div>div{
    width: 100%;
}

/* End Graphs */
/* Start Footer */

#footer small {
    width: 100%;
}

/* End Footer */